<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Detail Informasi</title>
  </head>
  <body>
    <h1 class="text-center">Detail Informasi</h1>
    {% for key,value in data.items() %}
            Ongkir sebuah barang dengan berat {% for weight in weight %}
                    {{ weight}}
            {% endfor %} dari {{value['origin_details']['type']}} {{value['origin_details']['city_name']}}, {{value['origin_details']['province']}} menuju {{value['destination_details']['type']}} {{value['destination_details']['city_name']}}, {{value['destination_details']['province']}} dengan menggunakan ekspedisi {{ courier }}
                    <br>
                  
            {% for v in value['results'] %}
                    {% for a in v['costs'] %}
                            <p>
                                Service : {{ a['description'] }} ({{ a['service'] }})
                                <br>
                                Harga : Rp. {{a['cost'][0]['value']}}
                                <br>
                                Estimasi waktu Sampai : {{a['cost'][0]['etd']}} hari
                            </p>
                    {% endfor %}
                    
            {% endfor %}
            
    {% endfor %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>